<div class="cartview">
  <div class="cartsubmodel">
    <div class="row toolheader" style="background-color: #363538;padding: 7px;border-top: 3px solid black;color: white;">
      <div class="col-xs-12">
        <!-- <button type="button" class="btn btn-default" name="button">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;Sort by Price</button> -->
        <strong>
          Cart Items ({{totalItems}})
        </strong>
        <strong style="float:right;">
          Tota Price: Rs.{{totalPrice}}
        </strong>
      </div>
    </div>
    <div class="row itemListrow" style="margin-right:0px;margin-left:0px;overflow-y:auto;">
      <ul class="list-group" style="margin-bottom:0px;">
        <li class="list-group-item cartgroup itId{{shop.itemId}}" ng-repeat="shop in shoppingList | orderBy:'itemPrice'">
          <div class="panel panel-default cartpanel">
            <div class="panel-body cartbody">
              <div class="col-xs-4">
                <img ng-src="{{getImage(shop.itemImage)}}" alt="..." class="img-thumbnail img-responsive"/>
              </div>
              <div class="col-xs-8 cartdesc">
                <p>
                  <strong>{{shop.itemName}}</strong>
                  <strong style="float:right;position:relative;top:-10px;">
                    <button ng-click="setItemToDelete(shop.itemId)" type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default" style="border:none;">
                      <span class="glyphicon glyphicon-trash" style="font-size:18px;"></span>
                    </button>
                  </strong>
                </p>
                <p>
                  {{shop.itemDescription}}
                </p>
                <p>
                  <strong>{{shop.discountPrice!=null?"Rs."+shop.discountPrice:"Rs."+shop.itemPrice}}</strong>&nbsp;&nbsp;
                  <strong style="font-size:11px;color:#a2a2a2;">
                    <s>{{shop.discountPrice!=null?"Rs."+shop.itemPrice:""}}</s>
                  </strong>
                  <!-- <br> -->
                  <strong style="float:right;">
                    <!-- <span class="badge">{{shop.totalQuantity}}</span> -->
                    <button ng-click="quantityIncrease(shop.itemId,shop.totalQuantity,shop.itemPrice,shop.discountPrice,shop.itemQuantity,totalPrice)" type="button" class="btn btn-default quantbtn">
                      <span class="glyphicon glyphicon-chevron-up"></span>
                    </button>
                    <strong style="padding:7px;">{{shop.totalQuantity}}</strong>
                    <button ng-click="quantityDecrease(shop.itemId,shop.totalQuantity,shop.itemPrice,shop.discountPrice,shop.itemQuantity,totalPrice)" type="button" class="btn btn-default quantbtn">
                      <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                  </strong>
                </p>
              </div>
            </div>
            <div class="panel-footer custompanelfooter">
              <div class="container-fluid" style="padding:0px;">
                <div class="col-xs-12 toolcolumn" style="border-right: 1px solid #d6caca;" ng-click="getReviewDetails(shop.itemId)">
                  <span>Who Bought this?</span>
                </div>
              </div>

            </div>
          </div>
        </li>
      </ul>
    </div>

    <!--Reviw Model-->
    <div class="modal edmodal fade" id="reviewModel" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="overflow:hidden;">
          <div class="modal-header" style="background-color:#5cb85c;color:white;">
            <button type="button" class="close" style="opacity:1;" data-dismiss="modal" aria-label="Close">
              <span class="glyphicon glyphicon-remove" style="color:white;" aria-hidden="true"></span>
            </button>
            <h4 class="modal-title">Reviews
            </h4>
          </div>
          <div class="modal-body" style="padding:0px;height:335px;overflow-y:auto;">
            <div class="row" style="padding:10px;margin:0px;">
              <div class="" ng-repeat="review in reviewContactList">
                <div class="panel panel-default" style="border-radius:0px;" ng-repeat="data in review.userReviews | unique:'phoneNumber'">
                  <div class="panel-heading">
                    <strong class="panel-title">{{data.displayName}}</strong>
                    <strong style="float:right;">Rating:
                      <span class="badge">{{data.userRating}}</span>
                    </strong>
                  </div>
                  <div class="panel-body">
                    {{data.userComment}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Edit-->
    <div class="modal edmodal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" style="opacity:1;" data-dismiss="modal" aria-label="Close">
              <span class="glyphicon glyphicon-remove" style="color:white;" aria-hidden="true"></span>
            </button>
            <h4 class="modal-title" id="editModalLabel" style="font-size:13px">{{edititemName}}
              <strong style="float:right;">Item Price (Rs.{{editItemPrice}})</strong>
            </h4>
          </div>
          <div class="modal-body edmodal-body">
            <span>Quantity :
            </span>
            <input type="number" name="quantity" ng-model="qtychange" style="width: 76px;height: 26px;border: 0;border-bottom: 1px solid #9f9f9f;" ng-change="changeFunction(cloneQuantity, editItemPrice, edittotalPrice, qtychange)" min="1" max="10000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div style="width: 89%;height: 1px;background-color: #e2e2e2;margin: 13px;"></div>&nbsp;
            <span style="float:right">Total Price :
              <strong>{{edittotalPrice}}</strong>
            </span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" style="float:left;width:81px;" ng-click="editFunction(edititemId,qtychange,edittotalPrice)" data-dismiss="modal">Save</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Delete-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content custommodelcontent">
          <div class="modal-header custommodalheader">
            <button type="button" class="close" style="opacity:1;" data-dismiss="modal" aria-label="Close">
              <span class="glyphicon glyphicon-remove" style="color:white;" aria-hidden="true"></span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Are you sure ?</h4>
          </div>
          <div class="modal-body">
            It will remove the entire item from the list.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" style="float:left;width:81px;" data-dismiss="modal" ng-click="removeItem(iteIdToDelete,true)">Yes</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="removeItem(iteIdToDelete,false)">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <footer class="paymentfooter">
      <div class="row" style="height:100%;">
        <div class="col-xs-12" style="height:100%;">
          <button type="button" class="btn btn-success paynow" name="button" style="border-radius:0;width:100%;height:100%;font-size: 22px;font-weight: 900;color: #2d2c2c;">
            <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>&nbsp;&nbsp;Pay</button>
        </div>
      </div>
    </footer>
  </div>

  <!-- Payment -->
  <div class="container-fluid paymentcontainer">
    <div class="row headerrow">
      <strong style="top: 8px;position: relative;font-size: 12px;">Choose Payment Mode</strong>
      <button type="button" class="btn btn-default" style="float:right;" name="button">
        <strong>You Pay: Rs.{{totalPrice}}</strong>
      </button>
    </div>

    <div class="col-xs-3 paymenu">
      <div class="list-group" style="margin-bottom: 0px;">
        <a class="list-group-item payment-group-item activepaymentgroup cardGroup">
          <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span><br>
          <span>Card</span>
        </a>
        <a class="list-group-item payment-group-item bankGroup">
          <i class="fa fa-university" aria-hidden="true"></i><br>
          <span>Bank</span>
        </a>
        <a class="list-group-item payment-group-item cashGroup">
          <i class="fa fa-money" aria-hidden="true"></i><br>
          <span>Cash</span>
        </a>
        <a class="list-group-item payment-group-item shopCardGroup">
          <i class="fa fa-indent" aria-hidden="true"></i><br>
          <span>Q-pay</span>
        </a>
      </div>
    </div>
    <!-- Modal Pay Confirm-->
    <div class="modal edmodal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="payModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" style="opacity:1;" data-dismiss="modal" aria-label="Close">
              <span class="glyphicon glyphicon-remove" style="color:white;" aria-hidden="true"></span>
            </button>
            <h4 class="modal-title" id="payModalLabel" style="font-size:13px">Confirm Your Order</h4>
          </div>
          <div class="modal-body edmodal-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="shop in shoppingList track by $index">
                    <td>{{shop.itemName}}</td>
                    <td>{{shop.totalQuantity}}</td>
                    <td>{{shop.totalPrice*shop.totalQuantity}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>
                      <strong>Total Price</strong>
                    </td>
                    <td>
                      <strong>Rs.{{totalPrice}}</strong>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" style="float:left;width:81px;" ng-click="payAndGetTransactionDetails(shoppingList, totalPrice, 'card',null)" data-dismiss="modal">Confirm</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Pay Confirm-->

    <div class="col-xs-9 paymentmethods" style="overflow-y:auto;">
      <!--Pay Bank -->
      <div class="paymentmethodbank" style="padding-top: 10px;display:none;padding: 15px;">
        <div class="row bankimages">
          <div class="col-xs-3 bankcol"><img src="img/kotak.jpe" alt="Kotak Bank" class="img-thumbnail img-responsive"/></div>
          <div class="col-xs-3 bankcol"><img src="img/axis.jpe" alt="Axis Bank" class="img-thumbnail img-responsive"/></div>
          <div class="col-xs-3 bankcol"><img src="img/hdfc.png" alt="HDFC Bank" class="img-thumbnail img-responsive"/></div>
          <div class="col-xs-3 bankcol"><img src="img/indian.jpe" alt="Indian Bank" class="img-thumbnail img-responsive"/></div>
        </div>
        <div class="row" style="margin: 0px;margin-top: 24px;">
          <select ng-model="selectedBank" ng-change="resetImageBackdrop(selectedBank)" placeholder="Choose from other banks" style="border: none;border-bottom: 1px solid #bcbcbc;border-left: 1px solid #bcbcbc;border-right: 1px solid #bcbcbc;">
            <option value="">--Choose from other banks--</option>
            <option value="Axis Bank">Axis Bank</option>
            <option value="Andhra Bank">Andhra Bank</option>
            <option value="Bank of Baroda">Bank of Baroda</option>
            <option value="Canara Bank">Canara Bank</option>
            <option value="Deutch Bank">Deutch Bank</option>
            <option value="Gujarat National Bank">Gujarat National Bank</option>
            <option value="HDFC Bank">HDFC Bank</option>
            <option value="Indian Bank">Indian Bank</option>
            <option value="Kotak Bank">Kotak Bank</option>
          </select>
        </div>

        <p style="font-size: smaller;padding: 17px 0px;padding-bottom: 0px;">
          We will redirect you to your bank website to authorize the payment.{{selectedBank}}
        </p>
        <!-- /.row -->
        <button type="submit" class="btn btn-success paybankbtn" ng-click="payAndGetTransactionDetails(shoppingList, totalPrice, 'bank',selectedBank)" style="position:relative;top:10px;">Proceed</button>
        <button type="submit" class="btn btn-danger paycancle" style="position:relative;top:10px;float:right;">Cancel</button>
      </div>
      <!--Pay Bank -->

      <!--Pay Card -->
      <div class="paymentmethodcard" style="padding-top: 35px;">
        <div class="row">
          <div class="col-xs-12" style="padding-bottom:11px;">
            <div class="input-group">
              <span class="input-group-addon custom-addon">
                <span class="glyphicon glyphicon-credit-card"></span>
              </span>
              <input type="number" class="form-control cardnumber" ng-change="validateFields()" ng-model="cardnumber" placeholder="Card Number" maxlength="16" aria-label="...">
            </div>
            <!-- /input-group -->
          </div>
          <div class="col-xs-6">
            <div class="input-group">
              <span class="input-group-addon custom-addon">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" placeholder="MM/YY" ng-change="validateFields()" ng-model="expirydate" style="padding: 0px 5px;" aria-label="...">
            </div>
            <!-- /input-group -->
          </div>
          <!-- /.col-lg-6 -->
          <div class="col-xs-6">
            <div class="input-group">
              <span class="input-group-addon custom-addon">
                <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" placeholder="CVV" ng-change="validateFields()" ng-model="cvvnumber" maxlength="3" aria-label="...">
            </div>
            <!-- /input-group -->
          </div>
          <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
        <button type="submit" class="btn btn-success paybtn" ng-click="resetCardValues()" data-toggle="modal" data-target="#payModal" style="position:relative;top:10px;">Pay Now</button>
        <button type="submit" class="btn btn-danger paycancle" ng-click="resetCardValues()" style="position:relative;top:10px;float:right;">Cancel</button>
      </div>
      <!--Pay Card -->
      <!--Cash -->
      <div class="paymentmethodcash" style="padding-top: 10px;display:none;padding: 24px;padding-top: 82px;">
        <i class="fa fa-money" aria-hidden="true" style="position: absolute;font-size: 170px;color: rgba(199, 199, 199, 0.28);top: 19%;"></i>
        <strong>Kindly take your cart with required items to the sales counter nearby and pay by cash</strong>
      </div>
      <!--Cash -->
      <!--Shop Card -->
      <div class="paymentmethodshopcard" style="display:none;font-size:11px;">
        <div class="scancontent">
          <!-- <span class="glyphicon glyphicon-barcode qrcodeglyph"></span>
                    <div class="qrdiv" style="text-align: center;">
                        <button ng-click="scaneBarCode()" type="button" class="btn btn-success scanbutton" style="padding-left: 45px;padding-right: 45px;">
                            <span class="glyphicon glyphicon-barcode"></span>&nbsp;&nbsp;Scan</button>
                    </div> -->

          <div class="panel panel-default" style="margin-bottom:0px;border-radius:0px;">
            <!-- Default panel contents -->
            <div class="panel-heading clearfix" style="border-radius:0px;">
              <i class="fa fa-credit-card-alt" aria-hidden="true"></i>&nbsp;&nbsp;Card

            </div>
            <!-- List group -->
            <div class="list-group">
              <button type="button" class="list-group-item clearfix" ng-click="payAndGetTransactionDetails(shoppingList, totalPrice, 'card',null)" ng-repeat="o in userMainInfos.quickPay.card track by $index">{{o.cardName}}
                /
                {{o.cardNumber}}
              </button>
            </div >
          </div>
          <div class="panel panel-default" style="margin-bottom:0px;border-radius:0px;">
            <!-- Default panel contents -->
            <div class="panel-heading clearfix" style="border-radius:0px;">
              <i class="fa fa-university" aria-hidden="true"></i>&nbsp;&nbsp;Net Banking
            </div>
            <!-- List group -->
            <div class="list-group">
              <button type="button" class="list-group-item clearfix" ng-click="payAndGetTransactionDetails(shoppingList, totalPrice, 'bank',p.bankName)" ng-repeat="p in userMainInfos.quickPay.netBanking track by $index">{{p.bankName}}
              </button>
            </div >
          </div>

          <!-- <button type="button" class="btn btn-success" style="float:left;width:81px;" ng-click="payAndGetTransactionDetails(shoppingList, totalPrice, 'card',null)" data-dismiss="modal">Confirm</button> -->
          <!-- <button type="submit" class="btn btn-danger paycancle" ng-click="resetCardValues()">Cancel</button> -->
        </div>
      </div>
      <!--Shop Card -->
    </div>
    <div class="col-xs-12 ordersummarycol">
      <div class="container-fluid customcontainer">
        <div class="panel panel-success">
          <div class="panel-heading">
            <strong>Order Summary</strong>
          </div>
          <div class="panel-body">
            <div class="table-responsive" style="border: 0px;">
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="shop in shoppingList">
                    <td>{{shop.itemName}}</td>
                    <td>{{shop.totalQuantity}}</td>
                    <td>{{shop.totalPrice*shop.totalQuantity}}</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Total Price</strong>
                    </td>
                    <td></td>
                    <td>
                      <strong>Rs.{{totalPrice}}</strong>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="paymentsuccesscontainer container-fluid" style="text-align:center;display:none;">
    <img src="img/green.png" class="img-responsive" alt="" style="opacity:0.5;position: absolute;z-index: -1;margin-left: auto;margin-right: auto;left: 0;right: 0;top: 124%;"/>
    <h2 style="font-weight:900;color:#5cb85c;">Hooray!</h2>
    <p>
      Your payment was successful.!!!
    </p>
    <p>
      Below is your Transaction ID
    </p>
    <h3 style="font-weight:700;color:#5cb85c;">
      {{transactionId}}
    </h3>
  </div>
  <div class="yourcartisempty container-fluid" style="text-align:center;display:none;">
    <img src="img/emptycart.png" class="img-responsive" alt="" style="opacity:0.5;position: fixed;z-index: -1;margin-left: auto;margin-right: auto;left: 17px;right: 0;top: 241px;"/>
    <h2 style="font-weight:900;color:#f57168;">Your Cart is empty</h2>
  </div>
</div>
