<div class="discovercontainer">
  <div class="backdrop"></div>
  <div class="discoversidemenu">
    <div class="col-xs-10" style="padding:0px;z-index:1;">
      <div class="list-group" style="margin-bottom:0px;">
        <button type="button" class="sidebtnlist list-group-item">My Purchase</button>
        <button type="button" class="sidebtnlist list-group-item customactiveside">My Recomendations</button>
        <button type="button" class="sidebtnlist list-group-item">My Offers</button>
      </div>
    </div>
    <div class="col-xs-2" style="padding:0px;">
      <button type="button" class="btn btn-default sidedrag" aria-label="Left Align">
        <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
      </button>
    </div>
  </div>
  <div class="discovermaincontent">
    <div class="transactions"></div>
    <div class="recomendations"></div>
    <div class="offers"></div>
  </div>
</div>
