<div class="offerviewcontainer container-fluid" style="padding-right:0px;padding-left:0px;">
  <div class="shareoverlay">
    <div class="col-xs-12 settingsheader contactsheader">
      <i class="fa fa-chevron-left shareback settingback settings" aria-hidden="true"></i>
      <span class="settingspan">Contacts</span>
      <span>
        <span class="sharespan" ng-click="shareOfferInfo()" style="position: absolute;right: 60px;font-size: 29px;top: 3px;">
          <!-- <button type="button" class="btn btn-default btn-sm" aria-label="Left Align"> -->
          <!-- <i class="fa fa-share-alt" aria-hidden="true"></i> -->
          <!-- </button> -->
        </span>
        <input type="checkbox" ng-model="allselect" ng-click="activateAll()" class="myfillin" id="selectall" name="" value="">
        <label class="customchecklabel" style="color: #333333;margin-top: 5px;" for="selectall"></label>
      </span>
    </div>
    <div class="col-xs-12 contacatscolumn" style="padding:0px;">
      <ul class="list-group">
        <li class="list-group-item contactsgroup settingsgroup" ng-repeat="contacts in userContacts|filter:searchcontactmodel">
          <label for="{{contacts.displayName}}">{{contacts.displayName}}</label>
          <input type="checkbox" class="myfillin" id="{{contacts.displayName}}" name="" value="">
          <label ng-click="setToShare(contacts.phoneNumber)" class="customchecklabel" for="{{contacts.displayName}}"></label>
        </li>
        <!-- <li class="list-group-item settingsgroup">Morbi leo risus</li>
        <li class="list-group-item settingsgroup">Porta ac consectetur ac</li>
        <li class="list-group-item settingsgroup">Vestibulum at eros</li> -->
      </ul>
    </div>
    <div class="col-xs-12 contactsfooter">
      <div class="form-group">
        <input type="text" ng-model="searchcontactmodel" class="form-control" placeholder="Search Contacts">
      </div>
    </div>
  </div>
  <div class="offers">
    <div class="combinedoffer" style="z-index:4;background-color:white;display:none;">
      <div class="col-xs-12 offercarousel" style="padding-top:20px;padding-left:0px;padding-right:0px;">
        <div><img src="img/headphone.jpg" alt="Headphone" class="img-responsive"/></div>
        <div><img src="img/sports.jpg" alt="Sports" class="img-responsive"/></div>
        <div><img src="img/elecslide.jpg" alt="Electronics" class="img-responsive"/></div>
      </div>
      <div class="row offerrow">
        <div class="col-xs-12">
          <img ng-click="imageClick()" src="img/headspeaker.jpg" alt=""/>
        </div>
      </div>
      <div class="row offerrow">
        <div class="col-xs-12">
          <img ng-click="imageClick()" src="img/moboffer.jpg" alt=""/>
        </div>
      </div>
      <div class="row offerrow">
        <div class="col-xs-12">
          <img ng-click="imageClick()" src="img/bookoffer.jpg" alt=""/>
        </div>
      </div>
    </div>
    <div class="offerGroup">
      <div class="offertools" style="border-top:2px solid black;height:42px;">
        <div class="col-xs-6 sortbtn" data-toggle="modal" data-target="#sortModal" style="padding:10px;text-align:center;border-right:2px solid #201e23;">
          <span class="glyphicon glyphicon-sort"></span>&nbsp;&nbsp;Sort
        </div>
        <div class="col-xs-6" data-toggle="modal" data-target="#filterModal" style="padding:10px;text-align:center;">
          <span class="glyphicon glyphicon-filter"></span>&nbsp;&nbsp;Filter
        </div>
      </div>
      <div class="offer-list-group">
        <div class="col-xs-6" ng-repeat="product in offerAvailedProducts | orderBy:pricesort | filter:testfilter">
          <div class="thumbnail custom-thumbnail">
            <img ng-src="{{getProductImage(product.itemImage)}}" alt="..." class="" width="100px;"/>
            <div class="caption">
              <strong>{{product.itemName}}</strong>
              <!-- <p>{{product.itemDescription}}</p> -->
              <p style="color:#f58c8c;">
                <strong style="color:green;" ng-if="product.discountPrice!=null">Rs.{{product.discountPrice}}</strong>
                <strong style="color:green;" ng-if="product.discountPrice==null">Rs.{{product.itemPrice}}</strong>
                &nbsp;&nbsp;&nbsp;
                <s ng-if="product.discountPrice!=null">Rs.{{product.itemPrice}}</s>
              </p>
              <p>
                <strong style="font-style:italic;">
                  <u ng-if="product.discountPrice!=null">{{product.discountAvailed}}</u>
                  <u ng-if="product.discountPrice==null">No-Offers</u>
                </strong>
              </p>
              <div class="row">
                <button ng-if="!isMyoffer" type="button" class="btn btn-default btn-md" style="border:1px solid #5cb85c;width:80%;" name="button" ng-click="shareOffer(product.itemId,product.itemName,product.discountAvailed)">
                  <i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;Share</button>
                <button ng-click="showTrans(product.itemId)" ng-if="isMyoffer" type="button" data-toggle="modal" data-target=".transfermodel" class="btn btn-default btn-md" style="border:1px solid #5cb85c;width:80%;" name="button">
                  <i class="fa fa-reply-all" aria-hidden="true"></i>&nbsp;&nbsp;Transfer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Transfer -->
    <div class="modal fade transfermodel" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm" role="document" style="margin-top:50%;">
        <div class="modal-content" style="padding:4px;">
          <form class="form-inline">
            <div class="form-group">
              <input ng-model="toPhoneNumber" type="number" class="form-control" id="exampleInputAmount" placeholder="Phone number of the user to be transfered to">
            </div>
            <button ng-click="proceedTransfer(toPhoneNumber)" style="margin-left: 33%;" type="submit" class="btn btn-success">Transfer Offer</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Filter Modal -->
    <div id="filterModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="border-radius:0;">
          <div class="modal-header" style="background-color:#5cb85c;color:white;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Filter Options</h4>
          </div>
          <div class="modal-body" style="padding:0px;">
            <div class="container-fluid" style="padding:0px;">
              <div class="col-xs-12" style="padding:0px;">
                <div class="checkbox sortradio">
                  <label>
                    <input type="checkbox" ng-click="changeIncategory('Electronics',electronic)" ng-model="electronic" value="Electronics">Electronics</label>
                </div>
                <div class="checkbox sortradio" style="margin-bottom:0px;">
                  <label>
                    <input type="checkbox" ng-click="changeIncategory('Sports',sport)" ng-model="sport" value="Sports">Sports</label>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Sort Modal -->
    <div id="sortModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="border-radius:0;">
          <div class="modal-header" style="background-color:#5cb85c;color:white;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Sort Options</h4>
          </div>
          <div class="modal-body" style="padding:0px;">
            <div class="container-fluid" style="padding:0px;">
              <div class="col-xs-12" style="padding:0px;">
                <div class="radio sortradio">
                  <label>
                    <input type="radio" ng-model="pricesort" value="discountPrice" name="optradio">Price Low to High</label>
                </div>
                <div class="radio sortradio" style="margin-bottom:0px;">
                  <label>
                    <input type="radio" ng-model="pricesort" value="-discountPrice" name="optradio">Price High to Low</label>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="newarrivals"></div>
  <footer class="offernewfooter footertabs">
    <div class="col-xs-4 offerbtn offersactive">Offers</div>
    <div class="col-xs-4 myofferbtn">My Offers</div>
    <div class="col-xs-4 arrivalbtn" ng-click="getNewArrivals()">New Arrivals</div>
  </footer>
  <!-- <footer class="offernewfooter viewallofferTab">
        <div class="col-xs-12 offerbtn" ng-click="imageClick()">View All Offers</div>
    </footer> -->
</div>
